*.suo
/.vs
*.dll
*.exe
*.targets
/SMEWebApps/bin/roslyn
/SMEWebApps/bin
/SMEWebApps/obj/Debug
*.pdb
/SMECommon/obj/Debug
/SMELib/obj/Debug
/SMEUtility/obj/Debug/SMEUtility.csproj.FileListAbsolute.txt
/SMEUtility/obj/Debug
/SMEUtility/obj/Release
/SMEModel/obj/Debug
/SMECommon/bin/Debug
/SMELib/bin/Debug
/SMEModel/bin/Debug
/SMEUtility/bin/Debug
/SMEWebApps/obj/Release
/SMEUtility/bin/Release
/SMEModel/obj/Release
/SMEModel/bin/Release
/SMELib/obj/Release
/SMELib/bin/Release
/SMECommon/obj/Release
/SMECommon/bin/Release
/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
/BasicDataAccess/obj/Debug/*.cache
/SMEData/obj/Debug/*.cache
/SMEService/obj/Debug/*.cache
/SMEData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SMEData/obj/Debug/SMEData.csproj.FileListAbsolute.txt
/SMEData/obj/Debug/*.cs
/SMEService/obj/Debug/SMEService.csproj.FileListAbsolute.txt
/SMEService/obj/Debug/*.cs
/SMELib/CashFlowDashBoard/*.bak
*.bak
*.config
*.xml
*.cache
*.rar
/Utility/obj/Debug/Utility.csprojResolveAssemblyReference.cache
/SMEWebApps/Properties/PublishProfiles/*.pubxml
Debug
/packages.rar
/SMEData/obj/Release
/SMEService/obj/Release
/BasicDataAccess/obj/Release
/SMEWebApps/Properties/PublishProfiles
/SMEData/obj/Release/SMEData.csproj.FileListAbsolute.txt
/SMECommon/obj/Debug/SMECommon.csproj.FileListAbsolute.txt
/SMELib/obj/Debug/SMELib.csproj.FileListAbsolute.txt
/SMEModel/obj/Debug/SMEModel.csproj.FileListAbsolute.txt
/SMEUtility/obj/Debug/SMEUtility.csproj.FileListAbsolute.txt
/Utility/obj/Release
Release
*.txt
/packages.zip
PublishProfiles
*.user
SMEWebApps.csproj.user
/SMEWebApps/*.user
EmpImages
