*.suo
/.vs
*.dll
*.exe
*.targets
/BIMOBWebApps/bin/roslyn
/BIMOBWebApps/bin
/BIMOBWebApps/obj/Debug
*.pdb
/BIMOBComon/obj/Debug
/BIMOBLib/obj/Debug
/BIMOBUtility/obj/Debug/BIMOBUtility.csproj.FileListAbsolute.txt
/BIMOBUtility/obj/Debug
/BIMOBUtility/obj/Release
/BIMOBModel/obj/Debug
/BIMOBComon/bin/Debug
/BIMOBLib/bin/Debug
/BIMOBModel/bin/Debug
/BIMOBUtility/bin/Debug
/BIMOBWebApps/obj/Release
/BIMOBUtility/bin/Release
/BIMOBModel/obj/Release
/BIMOBModel/bin/Release
/BIMOBLib/obj/Release
/BIMOBLib/bin/Release
/BIMOBComon/obj/Release
/BIMOBComon/bin/Release
/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
/BasicDataAccess/obj/Debug/*.cache
/BIMOBData/obj/Debug/*.cache
/BIMOBService/obj/Debug/*.cache
/BIMOBData/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BIMOBData/obj/Debug/BIMOBData.csproj.FileListAbsolute.txt
/BIMOBData/obj/Debug/*.cs
/BIMOBService/obj/Debug/BIMOBService.csproj.FileListAbsolute.txt
/BIMOBService/obj/Debug/*.cs
/BIMOBLib/CashFlowDashBoard/*.bak
*.bak
*.config
*.xml
*.cache
*.rar
/Utility/obj/Debug/Utility.csprojResolveAssemblyReference.cache
/BIMOBWebApps/Properties/PublishProfiles/*.pubxml
Debug
/packages.rar
/BIMOBData/obj/Release
/BIMOBService/obj/Release
/BasicDataAccess/obj/Release
/BIMOBWebApps/Properties/PublishProfiles
/BIMOBData/obj/Release/BIMOBData.csproj.FileListAbsolute.txt
/Utility/obj/Release
Release
*.txt
/packages.zip
PublishProfiles
*.user
BIMOBWebApps.csproj.user
/BIMOBWebApps/*.user
EmpImages
